<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/language.css">
  <link rel="stylesheet" href="/css/hero.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/articles.css">
  <link rel="stylesheet" href="/css/article-page.css">
  <link rel="stylesheet" href="/css/themes.css">
</head>

<body>

  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

</body>
</html>